<form name="contact_form" class="text-center" action="#" netlify>
    <div class="row">
        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" placeholder="Name" type="text">
        </div>

        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" placeholder="Email" type="email">
        </div>
     </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" placeholder="Subject" type="text">
        </div>
        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" placeholder="Phone" type="tel">
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <textarea class="form-control form-control-lg" rows="4" placeholder="Message"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" type="submit">Send Your Message</button>
        </div>   
    </div>
</form>
