<form name="contact_form" class="text-center mb-5" method="POST" data-netlify="true">
    <div class="row">
        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" name="name" placeholder="Name" type="text">
        </div>

        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" name="email" placeholder="Email" type="email">
        </div>
     </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" name="subject" placeholder="Subject" type="text">
        </div>
        <div class="col-lg-6 form-group">
            <input class="form-control form-control-lg" name="phone" placeholder="Phone" type="tel">
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <textarea class="form-control form-control-lg" name="message" rows="4" placeholder="Message"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>   
    </div>
</form>
