{{ define "main" }}
{{partial "breadcrumb.html" .}}

<div class="container py-4" style="min-height: 80vh;">
    <h1 class="">{{ .Type | humanize}}</h1>
    <div class="row">
        {{range (.Paginator 4).Pages.ByDate}}
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100 shadow-sm" style="">
                {{if .Params.List_pic}}
                {{$pic:= .Resources.GetMatch .Params.List_pic}}
                <img src="{{$pic.RelPermalink}}" class="card-img-top" alt="...">
                {{end}}
                <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <p class="card-text">{{.Description}}</p>
                </div>
                <div class="card-footer bg-transparent text-muted">
                    Read in about {{.ReadingTime}} mins.
                    <a href="{{.RelPermalink}}" class="stretched-link"><i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="row">
        <div class="col">
            <div class="pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}