
{{ define "main" }}
{{partial "nav_main.html" .}}
{{partial "header_main.html" .}}
<section class="" style="padding-top: 100px; padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Who are we?</h2>
                <p class="lead">
                    Upshore Immigration Services Inc. is a licensed Canadian Immigration Consultancy company. We are authorized to deal in Canadian Immigration services by ICCRC, the regulatory body for Canadian Immigration consultants.
                </p>
                <a href="/about/" class="btn btn-primary">About us</a>
            </div>
        </div>
    </div>
</section>

<section style="min-height: 100vh;  padding-top: 100px; padding-bottom: 60px;" class="bg-light">
    <div class="container">
        <h2 class="text-center mb-5">Popular programs</h2>
        <div class="row d-flex justify-content-center">
            {{range (where .Site.RegularPages "Section" "programs")}}
                {{if eq .Params.List_in_popular_section true}}
                    <div class="col-md-4 col-lg-3 mb-4" >
                        <div class="card h-100 text-center">
                            {{if .Params.List_pic}}
                                {{$pic:= .Resources.GetMatch .Params.List_pic}}
                                <img src="{{$pic.RelPermalink}}" class="card-img-top " alt="...">
                            {{end}}
                            <div class="card-body bg-transparent">
                                <h6 class="card-title"><a href="{{.RelPermalink}}">{{.Title}}</a></h6>
                            </div>
                        </div>
                    </div>
                {{end}}
            
            {{ end }}
        </div>
        <div class="row">
            <div class="col text-center">
                {{with .Site.GetPage "programs"}}
                <a href="{{.Permalink}}" class="btn btn-primary shadow-sm">Know Various Immigration Programs</a>
                {{end}}
            </div>
        </div>
    </div>
</section>
<section class="" style="min-height:60vh; padding-top: 100px; padding-bottom: 60px; ">
    <div class="container">
        <h2 class="text-center mb-5">Why us</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-4 text-primary"><i class="fas fa-stamp"></i></h1>
                        <h4 class="card-title text-dark">Authorised</h4>
                        <p class="card-text">Upshore Immigration Services is authorised by ICCRC, the Immigration Consultants of Canada Regulatory Council.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">

                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-4 text-primary"><i class="fas fa-sun"></i></h1>
                        <h4 class="card-title text-dark">Transparent</h4>
                        <p class="card-text">All the stages of the application process shall be explained clearly in simple terms so that you always know what to expect.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">

                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-4 text-primary"><i class="fas fa-handshake"></i></h1>
                        <h4 class="card-title text-dark">We</h4>
                        <ul class="">
                            <li class="">maintain confidentiality</li>
                            <li class="">provide quality service</li>
                            <li class="">are affordable</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/contact/" class="btn btn-primary">Contact us now</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" style="min-height:100vh; padding-top: 100px; padding-bottom: 60px; ">
    <div class="container">
        <div class="row">
            <div class="col">
                {{ $recentposts := 2 }}
                {{ if .Params.recentposts }}
                {{ $recentposts = .Params.recentposts }}
                {{ end }}

                <h2 class="text-center">Recent posts</h2>

                {{ range first $recentposts (where .Pages "Type" "blog" ) }}
                {{range .Pages}}
                <h2 class="mt-5"> <a class="text-body" href="{{ .RelPermalink}}"> {{ .Title | markdownify}} </a> </h2>


                <p class="text-muted mt-3">
                    <a class="text-muted" href="{{ .Permalink }}"> {{ .Lastmod.Format "January 2, 2006"  }}</a> |

                    {{ range .Params.categories }}
                    <a class="text-muted" href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a> |
                    {{ end }}

                    {{ range .Params.tags }}
                    <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                    {{ end }}
                </p>
                
                {{ if .Params.description }}
                <p class="lead mb-3">
                    {{ .Params.description }}
                </p>
                {{ end }}
                
                <p class="text-muted">Reading time: about {{ .ReadingTime }} minutes</p>
                <p><a class="" href="{{ .RelPermalink }}">Read the article...</a></p>
                {{end}}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<section style="min-height:400px; padding-top: 100px; padding-bottom: 60px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Free Initial Consultation!</h2>
                <p>We provide a free <i>initial</i> consulation. Contact us today to discuss your situation and options. Your information is always kept confidential and private.</p>
                <a class="btn btn-danger btn-lg" href="tel:+1 (780) 8060.2050">Call now!</a> &nbsp;
                <a class="btn btn-outline-primary btn-lg" href="mailto:upshoreimmigration@gmail.com">Email Now!</a>

            </div>
        </div>

    </div>

</section>
{{ end }}