{{ define "main" }}
    {{partial "nav_regular.html" .}}
    {{if not (.Parent).IsHome}}
        {{partial "breadcrumb.html" .}}
    {{end}}
    <header class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="">{{.Title}}</h1>
                    <p class="lead">{{.Description}}</p>
                </div>
            </div>
        </div>
    </header>

<div class="container py-4" style="min-height: 80vh;">
    <div class="row">
        <div class="col-md-10">
            {{.Content}}
            {{range (.Paginator 10).Pages}}
                <ul>
                    <li>
                        <a href="{{.RelPermalink}}">{{.Title}}</a></p>
                        
                    </li>
                </ul>
                
                
            {{end}}
            
            <div class="d-flex justify-content-center pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>

            {{if (.Parent).IsHome}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to Home</a></p>
            {{else}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to {{(.Parent).Name}}</a></p>
            {{end}}

        </div>
    </div>
</div>
{{ end }}
