{{ define "main" }}
    {{partial "nav_regular.html" .}}
    {{if not (.Parent).IsHome}}
        {{partial "breadcrumb.html" .}}
    {{end}}
    <header class="py-5 mb-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="">{{.Title|humanize}}</h1>
                </div>
            </div>
        </div>
    </header>

<div class="container py-4" style="min-height: 80vh;">
    <div class="row">
        <div class="col-md-10">

            {{.Content}}
            <ul class="">
                {{ range .Paginator.Pages }}
                <li class=""><a href="{{.RelPermalink}}">{{ .Title | markdownify }}</a></li>
                {{ end }}
            </ul>
            <div class="d-flex justify-content-center pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back</a></p>
        </div>
    </div>
</div>
{{ end }}
