{{ define "main" }}
{{partial "nav_regular.html" .}}
{{if not (.Parent).IsHome}}
{{partial "breadcrumb.html" .}}
{{end}}
<div class="container pb-5" style="min-height:80vh;">

    <div class="row">

        <div class="col-lg-10 mx-auto">

            <header>
                <h1 class="{{if (.Parent).IsHome}}mt-5{{end}}">{{.Title}}</h1>
                <hr class="bg-danger" />
                <p class="lead">{{.Description}}</p>
            </header>
            
            <article class="article mb-5">
                {{.Content}}
            </article>
            
            {{if (.Parent).IsHome}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to Home</a></p>
            {{else}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to {{(.Parent).Name}}</a></p>
            {{end}}


        </div>
    </div>
</div>
{{ end }}