{{ define "main" }}
{{partial "nav_regular.html" .}}
{{if not (.Parent).IsHome}}
{{partial "breadcrumb.html" .}}
{{end}}
<div class="container pb-5" style="min-height:80vh;">
    <div class="row">
        <div class="col">
            <h1 class="">{{.Title|humanize}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <article class="article">
                {{ .Content }}
            </article>
            {{if (.Parent).IsHome}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to Home</a></p>
            {{else}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to {{(.Parent).Name}}</a></p>
            {{end}}


        </div>
    </div>
</div>
{{ end }}