
.masthead-main {
	height: 80vh;
	min-height: 500px;
	background-color: #065d8f;
	background-image: url("../img/ocean-bg-1920x1080.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0%;
}
.masthead-regular {
	height: 80vh;
	min-height: 500px;
	background-color: #10253a;
	background-image: url("../img/road.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0%;
}

.navbar-bg-onscroll.fixed-top {
	background-color: #065F92;

	transition: all .3s ease-out;
}

.navbar-bg-onscroll.fixed-top--fade {
	transition: all .4s ease-out;
}
blockquote {
	border-left: 5px solid lightgrey;
	font-size: 120%;
	font-style: italic;
	margin: 2rem 0;
	padding: 1rem;
}

/****Typography******/
h1, h2, h3, h4, h5, h6 {
	/*
		color: #9f3a07;
		*/
}

.title-underline {
	height: 3px;
	background-color: green;
	width: 50px;
	margin-bottom: 5em;
}
.article p, .article ul, .article ol, .article blockquote {
	max-width: 50em;
}
.article li {
	margin-bottom: .625rem;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
	margin: 2.5rem 0 1rem;
	
}
.article-meta {
	margin-bottom: 1.25rem;
	color: #999;
}
#TableOfContents ul{
	list-style: none;
	padding-left: 0;
}

li {
margin-bottom: .75em;
}