
{{ define "main" }}
{{partial "nav_regular.html" .}}
    <header class="py-5 mb-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="">{{.Title|humanize}}</h1>
                    <p class="lead">{{.Description}}</p>
                </div>
            </div>
        </div>
    </header>
<div class="container pb-5">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            {{range (.Paginator 5).Pages.ByLastmod.Reverse}}
                <!-- Blog Post -->
                <h2><a href="{{.RelPermalink}}">{{.Title}}</a></h2>

                <p class="text-muted ">
                    {{.Lastmod.Format "Jan 2, 2006"}}
                    {{if .Params.author}}
                    by {{.Params.author}}
                    {{end}}
                    <i class="fas fa-folder-open"></i>
                    {{range (.GetTerms "categories")}}
                    <a class="pr-1" href="{{ .Permalink }}">{{ .LinkTitle }}</a>,
                    {{end}}

                    <i class="fas fa-tag"></i>
                    {{range (.GetTerms "tags")}}
                    <a class="pr-1" href="{{ .Permalink }}">{{ .LinkTitle }}</a>,
                    {{end}}
                </p>

                {{if .Params.List_pic}}
                {{$pic:= .Resources.GetMatch .Params.List_pic}}
                <img src="{{$pic.RelPermalink}}" class="img-fluid mb-3" alt="...">
                {{end}}

                <p class="lead">{{.Params.Summary}}</p>
                <a href="{{.RelPermalink}}" class="">Read More </a>
                <hr class="mb-5" />

            {{end}}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="input-group mt-5">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>



            <!-- Categories Widget -->
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categories/" class="">Categories</a></h5>
                    <ul class="list-inline mb-0">
                        {{ range $key, $val:= .Site.Taxonomies.categories}}
                        <li class="list-inline-item">
                            <a class="" href="/categories/{{$key}}/">{{$key}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>

            </div>

            <!-- Side Widget -->
            <div class="card my-4">

                <div class="card-body">
                    <h5 class="card-title"><a href="/tags/" class="">Tags</a></h5>
                    <ul class="list-inline mb-0">
                        {{ range $key, $val:= .Site.Taxonomies.tags}}
                        <li class="list-inline-item">
                            <a class="" href="/tags/{{$key}}/">{{$key}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>

            </div>
        </div>

        <!--
            <div class="card shadow-sm">
                {{if .Params.List_pic}}
                {{$pic:= .Resources.GetMatch .Params.List_pic}}
                <img src="{{$pic.RelPermalink}}" class="card-img-top" alt="...">
                {{end}}
                <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <p class="card-text">{{.Description}}</p>
                </div>
                <div class="card-footer bg-transparent text-muted">
                    Read in about {{.ReadingTime}} mins.
                    <a href="{{.RelPermalink}}" class="stretched-link"><i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        -->
    </div>
    <div class="row">
        <div class="col">
            <div class="pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
            {{if (.Parent).IsHome}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to Home</a></p>
            {{else}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to {{(.Parent).Name}}</a></p>
            {{end}}
        </div>
    </div>
</div>
{{ end }}