
{{ define "main" }}

{{partial "nav_regular.html" .}}
{{partial "breadcrumb.html" .}}
<div class="container pb-5" style="min-height: 80vh;">   
    <div class="row">
        <div class="col-md-8">
            <p>
                {{ range .Params.categories }}
                <a class="" href="{{ "/categories/" | relURL }}{{ . | urlize }}"><strong>{{ . }}</strong></a>
                {{ end }}
            </p>
            <h1 class="" style="">{{.Title}}</h1>

            <p>
                {{if .Params.author}}
                By {{.Params.author}}
                {{end}}
                Published: {{ .Date.Format "January 2, 2006"  }}
                {{if .Lastmod}}
                , Updated: {{ .Lastmod.Format "January 2, 2006"  }}
                {{end}}
            </p>

            <article class="article">
                {{ .Content }}
            </article>
            <hr />
            <p>
                {{ range .Params.tags }}
                <a class="badge badge-info" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                {{ end }}
            </p>

            {{if (.Parent).IsHome}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to Home</a></p>
            {{else}}
            <p><a class="btn btn-secondary btn-sm" href="{{(.Parent).RelPermalink}}">Back to {{(.Parent).Name}}</a></p>
            {{end}}

        </div>
    </div>

</div>

{{ if or .NextInSection .PrevInSection }}
<div class="bg-light py-5">
    <div class="container">
        <h2 class="text-center">Read next</h2>

        <div class="row">
            <div class="col-md-6 text-center">
                {{ if .PrevInSection }}
                Previous Post:
                <a href="{{ .PrevInSection.RelPermalink}}">{{ .PrevInSection.Title | markdownify }}</a>
                {{ end }}
            </div>
            <div class="col-md-6 text-center">
                {{ if .NextInSection }}
                Next Post:
                <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title | markdownify }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<div class="container mt-5">
    <h2 class="text-center">See also</h2>
    <div class="row">
        {{ range . }}
        <div class="col-md mb-3">
            <p class="lead mb-0"><a class="text-body" href="{{ .RelPermalink }}">{{ .Title | markdownify}}</a></p>

            {{ if .Params.Subtitle }}
            <p class="lead font-italic mb-0">{{ .Params.Subtitle | markdownify }}</p>
            {{ end }}
            <p class="font-weight-light mt-3">{{ .Summary }}</p>
            <a href="{{ .RelPermalink }}" class="btn btn-primary">Read more</a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ end }}