<header class="masthead-regular">
    <div class="container text-light h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-8 mx-auto text-center">
                
                    {{if (eq .Kind "section")}}
                        <h1>{{.Type|humanize}}</h1>
                        {{if .Description}}
                        <p class="lead">{{.Description}}</p>
                        {{end}}
                    {{else if (eq .Kind "taxonomyTerm")}}

                        <h1>{{.Type|humanize}}</h1>
                        {{if .Description}}
                        <p class="lead">{{.Description}}</p>
                        {{end}}

                    {{else if (eq .Kind "taxonomy")}}
                        <h4 class="text-info">| {{.Data.Singular|humanize}}</h4>
                        <h1>{{.Title|humanize}}</h1>
                        {{if .Description}}
                        <p class="lead">{{.Description}}</p>
                        {{end}}

                    {{else if (eq .Kind "page")}}
                        {{if (eq .Type "blog")}}
                            <h4 class="text-success">
                                {{range (.GetTerms "categories")}}
                                    | {{ .Name|humanize }}
                                {{end}}
                            </h4>
                            <h1>{{.Title|humanize}}</h1>
                            <p class="text-light">
                                {{.Lastmod.Format "Jan 2, 2006"}}
                                by {{.Params.author}}
                            </p>
                            {{if .Description}}
                            <p class="lead">{{.Description}}</p>
                            {{end}}
                        {{else}}
                            <h1>{{.Title|humanize}}</h1>
                            {{if .Description}}
                            <p class="lead">{{.Description}}</p>
                            {{end}}
                        {{end}}
                    {{end}}


                
            </div>
        </div>
    </div>
</header>