<header class="masthead-main">
    <div class="container text-light h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="">{{.Site.Params.headline}}</h1>
                <p class="lead">{{.Site.Params.description}}</p>
                <a class="btn btn-primary" href="/contact/">
                    Contact Now <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</header>